
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Composer
composer.phar

# GitHub workflow history files
.github/.history/

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
